.home-page {
  .home-welcome {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 90vh;
    background-image: url("../assets/home.png");
    background-size: cover;
    background-position-x: 60%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    .more-content-arrow {
      margin: 5px auto;
      color: rgb(199, 199, 199);
      font-size: 1.5rem;
    }
    .title {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 70%;
      width: 100%;
      position: absolute;
      top: 15%;
      h1 {
        font-family: "Permanent Marker";
        text-align: center;
        font-size: 1.7rem;
        color: rgb(255, 255, 255);
        text-shadow: 0 0 5px rgb(199, 73, 0), 0 0 5px rgb(199, 73, 0);
      }
      button {
        height: 3rem;
        width: 50%;
        background-color: white;
        border: 1px solid $color6;
        font-family: "Bebas Neue";
        font-size: 2.2rem;
        transition: background-color 0.1s ease-in;
        &:hover {
          background-color: rgb(253, 226, 196);
        }
        &:active {
          background-color: rgb(248, 215, 178);
        }
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .home-page {
    .home-welcome {
      .title {
        max-width: 50%;
        position: absolute;
        top: 13%;
        left: 3rem;
        h1 {
          font-family: "Permanent Marker";
          font-size: 3rem;
          color: rgb(255, 255, 255);
          text-shadow: 0 0 5px rgb(199, 73, 0), 0 0 5px rgb(199, 73, 0);
        }
      }
    }
  }
}
